<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Profile | UF ACM</title>
    <link rel="icon " type="image/x-icon" href="../img/icon.png" />
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,100italic' rel='stylesheet' type='text/css'>
    <!-- Script for nav -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="profile.controller.js"></script>
    <script src="../js/bin/materialize.js"></script>
    <!-- Commented out because of no currently tied functionality -->
     <script>
        $(document).ready(function() {
            $('.parallax').parallax();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $(".dropdown-button").dropdown();

            // commented out because of lack of functionality
            // $("#tags").on('input', function() {
            //     var val = this.value;
            //     if ($('#names option').filter(function() {
            //             return this.value === val;
            //         }).length) {
            //         $('#results').append('<div class="chip">' + this.value + '</div>');
            //     }
            // });

        });
    </script> -->
</head>

<!-- navbar include directive  -->
<% include ../navBar %>

    <body>
        <div style="height:30%;  background-image: url('../img/0036.jpg'); position:relative; top:-75px; z-index:-1;">
            <h1 class="header white-text">Profile</h1>
        </div>
        <main>
            <div class="container">
              <% if (user.local.isAdmin) { %>
              <a href="/adminPageForStaffOnly">Admin Page!</a>
              <% } %>
                <div class="row">
                    <h2 style="margin-top: 0px"> Welcome, <%= user.local.firstName%></h2>
                </div>
                <div class="row">
                    <div class="col m4">
                      <div class = "center">
                        <a href="/settings"><i class="large material-icons">settings</i></a>
                        <h5 class="promo-caption">Account settings</h5>
                        <p class="light center" style = "text-align: justify">Change the information associated with your account</p>
                      </div>
                    </div>
                    <div class="col m4">
                      <div class = "center">
                        <a href="/resume"><i class="large material-icons">perm_media</i></a>
                        <h5 class="promo-caption">Resume Repository</h5>
                        <p class="light center" style = "text-align: justify">Upload your resume and answer the three essential questions! Your resume and answers will be given to our sponsors/other employers, so make it your best!</p>
                      </div>
                    </div>
                    <div class="col m4">
                      <div class = "center">
                        <a href="/code"><i class="large material-icons">launch</i></a>
                        <h5 class="promo-caption">Code Tutorial</h5>
                        <p class="light center" style = "text-align: justify">Our webmaster, Archit, designed this awesome code tutorial. You should totally check it out!</p>
                      </div>
                    </div>
                </div>
            </div>
            </div>

            <!-- Commented out because of no tied functionality -->
            <!-- <div class="container">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="tags" type="text" class="validate" list="names">
                        <label for="tags">List Special Interest Groups Here</label>

                        <datalist id="names">
                            <option value="UFPT" />
                            <option value="SEC" />
                            <option value="FTP" />
                        </datalist>
                    </div>
                    <div id="results">

                    </div>
                </div>

            </div> -->

        </main>

        <!--  Scripts-->
        <script src="../js/bin/materialize.js"></script>
    </body>

</html>
