<h2 class="thin">Events Stream</h2>
<div class="results"></div>
<script>
function getEventStream(){
var request = $.ajax(
  {
    url: "/eventStream",
    type: "get",
  });
  request.success(function(res,status, obj){
    console.log(res);
    $(res).sort(function(a,b){
      return new Date($(a).attr("starttime")) < new Date($(b).attr("starttime"));
    }).each(function(){

      // check to make sure common things render in case they are undefined
      // in this case, sometimes the place is empty
      if(typeof this.place === "undefined") {
          this.place = {"name": ""};
      }

      // check to make sure common things render
      // sometimes people forget to put a desciption -_-
      if(typeof this.description === "undefined") {
          this.description = "";
      }

      $('.results').prepend('<div class="column-group"><div class="all-33 tiny-100 small-100"><p>'+(moment(this.starttime).format('dddd, MMMM Do')) +'</p><p> at&nbsp'+(moment(this.starttime).format('h:mm a'))+'</p></div><div class="all-66 tiny-100 small-100"><h3>'+this.name+'</h3><p></p>'+'<p>'+this.description+'</p>'+'<div class="column-group"><div class="all-95"><p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> '+this.place.name+'</p></div><div class="all-5"><a href="'+'https://www.facebook.com/events/' + this.facebookEventId +'" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></div></div></div></div>');
    })
  });
  request.fail(function()
  {
    console.log('something happened to the event stream. Contact an ACM officer to proceed');
  });
}
</script>
