
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Change Password | UF ACM</title>
  <link rel="icon " type = "image/x-icon" href="../img/icon.png"/>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,100italic' rel='stylesheet' type='text/css'>
  <!-- Script for nav -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="changePassword.controller.js"></script>
  <script src="../js/bin/materialize.js"></script>
  <script>
  $(document).ready(function(){
    $('.parallax').parallax();
    $('select').material_select();
    $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();

  });
  </script>
</head>

<!-- navbar include directive  -->
<% include ../navBar %>
<div style="height:30%;  background-image: url('../img/0036.jpg'); position:relative; top:-75px; z-index:-1;">
  <h1 class="header white-text">Change Password</h1>
</div>

<body>
  <div class = "container">
      <p id = "errormessege" class="red"></p>
      <form>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" value = "<%= user.local.email%>"class="validate" name="email" disabled>
            <label id="emaillabel" for="email" data-error="">User's Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="oldPassword" type="password" class="validate" name="oldPassword" required>
            <label id="OPLabel"for="oldPassword" data-error="">Old Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="newPassword1" type="password" class="validate" name="newPassword1" required>
            <label id="NP1Label"for="newPassword1" data-error=" ">New Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="newPassword2" type="password" class="validate" name="newPassword2" required>
            <label id="NP2Label" for="newPassword2" data-error=" ">Confirm New Password</label>
          </div>
        </div>
        <div class = "row">
          <a class="waves-effect waves-light btn teal lighten-1" id="submitButton" type="submit">Change password<i class="material-icons right">lock</i></a>
        </div>
      </form>
  </div>
</body>
</html>
