<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
      <title>Repo | UF ACM</title>
      <link rel="icon " type = "image/x-icon" href="img/icon.png"/>
      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <!-- Font -->
      <link href='https://fonts.googleapis.com/css?family=Roboto:100,100italic' rel='stylesheet' type='text/css'>
      <!-- Script for nav -->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../js/bin/materialize.js"></script>
      <script>
         $(document).ready(function(){





           $('.parallax').parallax();
           $('select').material_select();
           $(".button-collapse").sideNav();
           $(".dropdown-button").dropdown();


           document.getElementById("buts").onclick = function() {
               document.getElementById("sub").submit();
           }







         });

      </script>
      <style type="text/css">

      #zips{
        margin-left: 43vw;
      }

      iframe{
        display: none;
      }
         object{
         width: 70vw;
         height: 70vh;
         margin-bottom: 3vh;
         }
         .container{
         margin-bottom: 3vh;
         }
      </style>
   </head>
   <!-- navbar include directive  -->
   <% include ../navBar %>
   <body>
      <div style="height:30%;  background-image: url('../img/ufpt.jpg'); position:relative; top:-75px; z-index:-1;">
         <h1 class="header white-text">Resume Repo for sponsors</h1>
      </div>
      <main>
         <div class="container">
            <div class="input-field">
               <input id="search" type="search" required name="search">
               <label for="search"><i class="material-icons">search</i></label>
               <i class="material-icons">close</i>
            </div>
            <ul class="collection with-header">
               <li class="collection-header">
                  <h4>Search Results</h4>
               </li>
               <!-- <li class="collection-item"><div>Alvin<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li> -->
            </ul>
         </div>
      <a class="waves-effect waves-light btn" id="zips">Download Zips</a>
      <iframe src="" id="down">

</iframe>


      </main>
      <script type="text/javascript">
         var pdfs = []

           $("#search").keyup(function (e) {
               if (e.keyCode == 13) {
                   $.post( "/dude", $("#search").val(), function(data){
                    $( ".clicks" ).remove();
                       for(var i=0; i<data.length; i++){
                       $(".with-header").append('<li class="collection-item clicks"><div>'+data[i].local.firstName+'<a href="/clicks/'+data[i].local.resumeLink+'" class="secondary-content"><i class="material-icons">send</i></a></div></li>');
                       pdfs.push(data[i].local.resumeLink);
                   }
                   });
               }

           });



        $("#zips").click(function(){
         $.post( "/testpdf", {"pdfs": pdfs}, function(data){
            $("#down").attr("src", "/downloadPDF");
         });
       });




      </script>
      <!--  Scripts-->
      <script src="../js/bin/materialize.js"></script>
   </body>
</html>
