
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="icon " type = "image/x-icon" href="img/icon.png"/>
    <title>Contact | UF ACM</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,100italic' rel='stylesheet' type='text/css'>
    <!-- Script for nav -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/bin/materialize.js"></script>
    <script>

      $(document).ready(function(){
        $('.parallax').parallax();
        $('select').material_select();
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();

      });

    </script>
    </head>

    <!-- navbar include directive  -->
    <% include navBar %>

  <body>
      <div style="height:30%;  background-image: url('img/0036.jpg'); position:relative; top:-75px; z-index:-1;">
      <h1 class="header white-text">Contact</h1>
    </div>
    <main>
    <div class="container">
      <div class="row">
        <div class="center">
          <h2 class="thin">Connect with us online</h2>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4 center">
      <h4>ListServ</h4>
Join our listserv by sending an e-mail to listserv@lists.ufl.edu with subject: subscribe ACM-L [first name] [last name]
     </div>
     <div class="col s12 m4 center">
      <h4>Gator connect</h4>
      Connect with us on <span><a href="https://ufl.collegiatelink.net/organization/ufacm">Gator Connect</a></span>
     </div>
     <div class="col s12 m4 center">
      <h4>Facebook</h4>
      Non-UF students <span><a href="http://www.facebook.com/ufacm">link</a></span><br>
      UF Students <span><a href="https://www.facebook.com/groups/ufacm/">link</a></span>
     </div>
     </div>
     <div class="row">
        <div class="center">
          <h2 class="thin">Our Team</h2>
        </div>
      </div>
    <div class="row">
      <div class="col s12 m3 center">
        <img class="responsive-img circle"src="img/nickjames.jpg" alt="Nicholas Fry"/>
        <h5>Nicolas Fry</h5>
        <h6>President</h6>

        <a href="mailto:nicolascoding@gmail.com?Subject=ACM%20Website" class="waves-effect waves-light btn" target="_top">Send Mail</a>
      </div>

      <div class="col s12 m3 center">
        <img class="responsive-img circle"src="img/tw.jpg" alt="Takashi Wickes"/>
        <h5>Takashi Wickes</h5>
        <h6>Vice President</h6>
        <a href="mailto:twickes32@ufl.edu?Subject=ACM%20Website" class="waves-effect waves-light btn" target="_top">Send Mail</a>

      </div>
      <div class="col s12 m3 center">
        <img class="responsive-img circle"src="img/kevinchow.jpg "alt="Kevin Chow"/>
        <h5>Kevin Chow</h5>
        <h6>Treasurer</h6>
        <a href="mailto:k__chow@hotmail.com?Subject=ACM%20Website" class="waves-effect waves-light btn" target="_top">Send Mail</a>

      </div>
      <div class="col s12 m3 center">
        <img class="responsive-img circle"src="img/luc.jpg "alt="Luc Olsthoorn"/>
        <h5>Luc Olsthoorn</h5>
        <h6>Secretary</h6>

        <a href="mailto:lolsthoorn@ufl.edu?Subject=ACM%20Website" class="waves-effect waves-light btn" target="_top">Send Mail</a>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m2 offset-m1 center">
        <img class="responsive-img circle"src="img/alexpopeil.jpg "alt="Alex Popeil"/>
        <h5>Alex Popeil</h5>
        <h6>Professional Chair</h6>
      </div>
      <div class="col s12 m2 offset-m2 center">
        <img class="responsive-img circle"src="img/archit.jpg "alt="Archit Rathi"/>
        <h5>Archit Rathi</h5>
        <h6>Webmaster</h6>
      </div>
      <div class="col s12 m2 offset-m2 center">
        <img class="responsive-img circle"src="img/lahari.jpg" alt="Lahari Manchikanti"/>
        <h5>Lahari Manchikanti</h5>
        <h6>Social Chair</h6>
      </div>
    </div>

<!--     <div class="row">
      <div class="col s12 m2 offset-m2 center">
        <img class="responsive-img circle"src="img/luc.jpg "alt="Luc Olsthoorn"/>
        <h5>Luc Olsthoorn</h5>
        <h6>Webmaster</h6>
      </div>
      <div class="col s12 m2 offset-m1 center">
        <img class="responsive-img circle"src="img/nickjames.jpg "alt="Nicolas Fry"/>
        <h5>Nicolas Fry</h5>
        <h6>Industry relations</h6>
      </div>
      <div class="col s12 m2 offset-m1 center">
        <img class="responsive-img circle"src="img/kevinchow.jpg" alt="Kevin Chow"/>
        <h5>Kevin Chow</h5>
        <h6>Bec Representative</h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m2 center">
        <img class="responsive-img circle"src="img/alex.jpg"alt="Alexander Popeil"/>
        <h5>Alexander Popeil</h5>
        <h6>Info Session Director</h6>
      </div>
      <div class="col s12 m2 center">
        <img class="responsive-img circle"src="img/lahari.jpg"alt="Lahari Manchikanti"/>
        <h5>Lahari Manchikanti</h5>
        <h6>Mix 'n Mingle Director</h6>
      </div>
      <div class="col s12 m2 center">
        <img class="responsive-img circle"src="img/conor.jpeg"alt="Conor Landry"/>
        <h5>Conor Landry</h5>
        <h6>Technical Social Director</h6>
      </div>
      <div class="col s12 m2 center">
        <img class="responsive-img circle"src="img/archit.jpg"alt="Archit Rathi"/>
        <h5>Archit Rathi</h5>
        <h6>Alumni Outreach Director</h6>
      </div>
      <div class="col s12 m2 center">
        <img class="responsive-img circle"src="img/susanne.jpg"alt="Susanne Chan"/>
        <h5>Susanne Chan</h5>
        <h6>Outreach Director</h6>
      </div>
      <div class="col s12 m2 center">
        <img class="responsive-img circle"src="img/jintao.jpg"alt="Jiantao Shen"/>
        <h5>Jiantao Shen</h5>
        <h6>Historian</h6>
      </div>
    </div> -->
    </div>

</div>
    </main>

    <!--  Scripts-->
    <script src="js/bin/materialize.js"></script>
  </body>
</html>
