
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>UF ACM | EVENTS</title>
    <link rel="icon " type = "image/x-icon" href="img/icon.png"/>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Font --> 
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,100italic' rel='stylesheet' type='text/css'>
    <!-- Script for nav -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/bin/materialize.js"></script>
    <script> 
      
      $(document).ready(function(){
        $('.parallax').parallax();
        $('select').material_select();
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();
        $('.carousel').carousel();
      });
      
    </script> 
    </head>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="ufpt.html">UFPT</a></li>
  <li><a href="http://ufsec.com/">SEC</a></li>
</ul>
    <nav class="white-text transparent z-depth-0">
        <div class="nav-wrapper  white-text z-index:3;">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Sub Groups<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul id="slide-out" class="side-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/ufpt">UFPT</a></li>
                <li><a href="http://ufsec.com/">SEC</a></li>

            </ul>
        </div>
    </nav>
  
  <body> 
      <div style="height:30%;  background-image: url('img/frenchfries.jpg'); position:relative; top:-75px; z-index:-1;">
      <h1 class="header white-text">Events</h1>
    </div>
    <main>
   
     
   <div class="container">
   <h2 class="thin">Big Events</h2>


    
   <div class="row">
      <div class="col s12 m6 center">
        <h3>Swamphacks</h3>
        <p>A 24-hour hackathon hosted by the University of Florida's ACM student chapter, Software Eng. Club, Women in CSE, and the Assoc. of Computer Engineers</p>
        <a href="http://swamphacks.com/">Swamphacks.com</a>
      </div>
       <div class="col s12 m6 center">
        <h3>HSPC</h3>
        <p>A High School programming competition</p>
         </div>
       </div>
    </div>
  </div>
    <div class="parallax-container">
      <div class="parallax"><img src="img/hspc.jpg"></div>
    </div>
    <div class="container">
    <h2 class="thin">Events Stream</h2>
<div class="results"></div> 
 </div>
<script>
 
 // ID of the Google Spreadsheet
 var spreadsheetID = "1p1S8Zak1kk9MpV_QEHlMfpbSGWBWjgMB4E8Po_bo7Sw/ozbi5jp";
 
 // Make sure it is public or set to Anyone with link can view 
 var url = "https://spreadsheets.google.com/feeds/list/" + spreadsheetID + "/public/values?alt=json";
 
 $.getJSON(url, function(data) {
 
  var entry = data.feed.entry;
 
  $(entry).each(function(){
    //<img class="circle responsive-img"src="'+this.gsx$imageurl.$t+'">
    $('.results').prepend('<div class="row"><div class="col s12 m3"><p>'+this.gsx$date.$t+'</p><p> at&nbsp'+this.gsx$time.$t+'</p></div><div class="col s12 m3"></div><div class="col s12 m6"><h3>'+this.gsx$nameofevent.$t+'</h3><p></p>'+'<p>'+this.gsx$description.$t+'</p>'+'<div class="row"><div class="col s10"><p><i class="material-icons">location_on</i>'+this.gsx$location.$t+'</p></div><div class="col s2"><a href="'+this.gsx$facebookevent.$t+'"><img style="width:30px;"src="font/material-design-icons/social-media.svg"</a></div></div></div></div>');
  });
 
 });
 
</script>
    </main>
  
    <!--  Scripts-->
    <script src="js/bin/materialize.js"></script>
  </body>
</html>
