
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="icon " type = "image/x-icon" href="img/icon.png"/>
    <title>Contact | UF ACM</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,100italic' rel='stylesheet' type='text/css'>
    <!-- Script for nav -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/bin/materialize.js"></script>
    <script>

      $(document).ready(function(){
        $('.parallax').parallax();
        $('select').material_select();
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();

      });

    </script>
    </head>

    <!-- navbar include directive  -->
    <% include navBar %>

  <body>
      <div style="height:30%;  background-image: url('img/0036.jpg'); position:relative; top:-75px; z-index:-1;">
      <h1 class="header white-text">Facebook</h1>
    </div>
    <main>
    <div class="container">

<!--       <div class="row">








      </div> -->

    </div>
    </main>

    <!--  Scripts-->
    <script src="js/bin/materialize.js"></script>
    <script type="text/javascript">
                $.post( "/facebook", function(data){
                  console.log(data);
                    for(var i=0; i<data.length; i++){
                     var m = data[i].start_time.slice(5,7);
                     var d = data[i].start_time.slice(8,10);
                     var y = data[i].start_time.slice(0,4);
                    $(".container").append(' <div> <div class="card"> <div class="card-content"> <p>'+data[i].description+'</p> </div> <div class="card-action"><b>'+data[i].name+'</b>    '+m+'/'+d+'/'+y+'</div> </div> </div>');
                }
                });


    </script>
  </body>
</html>
