<!DOCTYPE html>
<!--
TODO:
-fix event stream layout
 -->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="icon " type = "image/x-icon" href="img/favicon.png"/>
    <title>University of Florida Association for Computing Machinery | UF ACM</title>
    <!-- Ink Flexbox support -->
    <link rel="stylesheet" href="http://cdn.ink.sapo.pt/3.1.10/css/ink-flex.min.css">
    <!--[if lt IE 9 ]>
      <link rel="stylesheet" href="ink-ie.min.css" type="text/css">
    <![endif]-->
    <link rel="stylesheet" href="css/style.css" media="screen">
    <script src="https://use.fontawesome.com/cb1f156474.js"></script>
  </head>
  <body>
    <!-- navbar include directive --> <% include navBar %>
    <div class="ink-flex">
      <div class="intro column-group">
        <div class="logo all-50 push-center push-middle">
          <img src="img/ACM_Logo_wordmark-white.png" width="100%" alt="UF ACM Logo"/>
          <figcaption class="ink-flex">
            <div class="logo-caption push-center push-middle">University of Florida</div>
            <div class="buttons push-right logo-buttons">
              <% if (typeof user == 'undefined') { %>
                <button class="ink-button green login">Log In</button>
                <button class="ink-button blue signup">Sign Up</button>
              <% } %>
              <% if (typeof user !== 'undefined') { %>
                <button class="ink-button green" id="profile-button">Profile</button>
                <button class="ink-button blue" id="logout-button">Log Out</button>
              <% } %>
            </div>
          </figcaption>
        </div>
      </div>
    </div>
    <div class="ink-grid">
      <section class="who-what column-group horizontal-gutters">
        <div class="who all-50 tiny-100 small-100">
          <span>
             <h3>Who are we?</h3>
             We are the University of Florida's student chapter of the Association for Computing Machinery. We are an organization dedicated to the promotion of computer science research, education, and involvement within the students of the CISE department.
          </span>
        </div>
        <div class="what all-50 tiny-100 small-100">
          <span>
             <h3>What do we do?</h3>
             During the year, you can find us bringing companies like Google and Microsoft to campus, promoting cool Special Interest Groups, and throwing awesome department-wide events. <i><b>You should checkout some of our Special Interest Groups (SIGs) in the top right corner!</b></i>
          </span>
        </div>
      </section>
      <section class="where column-group horizontal-gutters">
          <div class="where-text all-50 tiny-100 small-100">
            <span>
               <h3>Where are we?</h3>
               Generally we are all over the place with our meetings and info-sessions, but our main office, the Fishbowl is located across the pathway in front of Marston Science library's entrance. Our door has the large, blue ACM logo on it. It's on the right side of the photo below!
            </span>
          </div>
          <div class="where-map all-50 tiny-100 small-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d866.8704288329208!2d-82.34539252659759!3d29.64779286121216!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4156837deaad6398!2sThe+Fishbowl+University+of+Florida+ACM+Office!5e0!3m2!1sen!2sus!4v1457289106346" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
      </section>
    </div>
    <div class="parallax-window" data-parallax="scroll" data-image-src="img/pano.jpg" data-speed="0.55"></div>
    <div class="ink-grid">
      <section class="sponsors column-group push-center align-center">
        <div class="all-100 align-center">
          <span>
             <h2 class="align-center">Sponsors</h2>
          </span>
        </div>
        <div class="small-100 medium-50"><a href="https://www.infiniteenergy.com/" target="_blank"><img src="img/infinite-energy.png" style = "width: 80%; height: auto;" /> </a></div>
        <div class="small-100 medium-50"><a href="https://www.bloomberg.com/" target="_blank"><img src="img/bloomberg.jpg" style = "width: 80%; height: auto;"/> </a></div>
        <div class="all-100 align-center"><a href="http://www.air-watch.com/" target="_blank"><img src="img/airwatch.png" style = "width: 40%; height: auto; padding-bottom:40px;"/></a></div>
        <div class="all-100 align-center"><a href="https://www.statefarm.com/" target="_blank"><img style="width:15%; height:auto;"src="img/statefarm.jpg"/></a></div>
      </section>
      <% include eventStream/eventstream %>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Ink JS -->
    <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/ink-all.js"></script>
    <!-- Ink Autoload -->
    <!-- <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.10/js/autoload.js"></script> -->
    <script type="text/javascript" src="http://cdn.ink.sapo.pt/3.1.10/js/modernizr.js"></script>
    <script type="text/javascript" src="js/bin/parallax.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript">
    //Pull event stream
    getEventStream();

    $('.intro').css('height', ($(window).height() * .9 - $('nav').outerHeight()));
    if($(window).width()   < 823){
      $('.buttons').removeClass('push-right');
      $('.buttons').addClass('push-center');
    } else {
      $('.buttons').removeClass('push-center');
      $('.buttons').addClass('push-right');
    }
    $('.where-map>iframe').attr('width', $('.what').width())

    $(window).resize(function(){
      $('.intro').css('height', ($(window).height() * .9 - $('nav').outerHeight()));
      $('.where-map>iframe').attr('width', $('.what').width());
      if($(window).width()   < 823){
        $('.buttons').removeClass('push-right');
        $('.buttons').addClass('push-center');
      } else {
        $('.buttons').removeClass('push-center');
        $('.buttons').addClass('push-right');
      }
    });
    $('#profile-button').click(function(){
      location.href = "/profile";
    });
    $('#logout-button').click(function(){
      location.href = "/logout";
    });
    </script>
  </body>
</html>
