
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Log In | UF ACM</title>
    <link rel="icon " type = "image/x-icon" href="img/icon.png"/>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,100italic' rel='stylesheet' type='text/css'>
    <!-- Script for nav -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/bin/materialize.js"></script>
    <script>

      $(document).ready(function(){
        $('.parallax').parallax();
        $('select').material_select();
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();

        document.getElementById("buts").onclick = function() {
            document.getElementById("sub").submit();
        }

      });

    </script>
    </head>

    <!-- navbar include directive  -->
    <% include navBar %>

  <body>
      <div style="height:30%;  background-image: url('img/ufpt.jpg'); position:relative; top:-75px; z-index:-1;">
      <h1 class="header white-text">Login</h1>
    </div>
    <main>
    <div class="container">

      <h4 style="color: red"><%= message %></h4>
      <form action="/login" method="post" id="sub">

       <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email">
          <label for="email" data-error="Please Enter Valid Email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn teal lighten-1" type="submit" id="buts"><i class="material-icons left">lock_open</i>Login</a>
      </form>
    </div>
    </main>

    <!--  Scripts-->
    <script src="js/bin/materialize.js"></script>
  </body>
</html>
