
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>UF ACM | UFPT</title>
    <link rel="icon " type = "image/x-icon" href="img/icon.png"/>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Font --> 
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,100italic' rel='stylesheet' type='text/css'>
    <!-- Script for nav -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/bin/materialize.js"></script>
    <script> 
      
      $(document).ready(function(){
        $('.parallax').parallax();
        $('select').material_select();
        $(".button-collapse").sideNav();
        $(".dropdown-button").dropdown();

        document.getElementById("buts").onclick = function() {
            document.getElementById("sub").submit();
        }
        
      });
      
    </script> 
    </head>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="ufpt.html">UFPT</a></li>
  <li><a href="http://ufsec.com/">SEC</a></li>
</ul>
    <nav class="white-text transparent z-depth-0">
        <div class="nav-wrapper  white-text z-index:3; ">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Sub Groups<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul id="slide-out" class="side-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/ufpt">UFPT</a></li>
                <li><a href="http://ufsec.com/">SEC</a></li>

            </ul>
        </div>
    </nav>
  
  <body> 
      <div style="height:30%;  background-image: url('img/ufpt.jpg'); position:relative; top:-75px; z-index:-1;">
      <h1 class="header white-text">Login</h1>
    </div>
    <main>
    <div class="container">

      <form action="/login" method="post" id="sub">

       <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" name="email">
          <label for="email" data-error="Please Enter Valid Email" data-success="right">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn teal lighten-1" type="submit" id="buts"><i class="material-icons left">lock_open</i>Login</a>
      </form>


          



    </div>
     


    </main>
  
    <!--  Scripts-->
    <script src="js/bin/materialize.js"></script>
  </body>
</html>
