<ul id="dropdown1" class="dropdown-content">
  <li><a href="ufpt.html">UFPT</a></li>
  <li><a href="http://ufsec.com/">SEC</a></li>
</ul>
    <nav class="white-text transparent z-depth-0">
        <div class="nav-wrapper  white-text z-index:3;">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/contact">Contact</a></li>
                <% if (typeof user == 'undefined') { %>
                <li><a href="/login">Log In</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <% } %>
                <% if (typeof user !== 'undefined') { %>
                  <li><a href="/profile">Profile</a></li>
                  <li><a href="/logout">Log Out</a></li>
                <% } %>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Sub Groups<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul id="slide-out" class="side-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/contactus">Contact Us</a></li>
              <li><a href="/contact">Contact</a></li>
              <% if (typeof user == 'undefined') { %>
              <li><a href="/login">Log In</a></li>
              <li><a href="/signup">Sign Up</a></li>
              <% } %>
              <% if (typeof user !== 'undefined') { %>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Log Out</a></li>
              <% } %>
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Sub Groups<i class="material-icons right">arrow_drop_down</i></a></li>

            </ul>
        </div>
    </nav>
