<div class="ink-shade fade">
    <div id="loginModal" class="ink-modal fade" data-trigger=".login" data-width="80%" data-height="80%" role="dialog" aria-hidden="true" aria-labelled-by="login-title">
      <div class="modal-header">
          <button class="modal-close ink-dismiss"></button>
          <h2 id="login-title">Log In</h2>
      </div>
      <div class="modal-body" id="loginContent">
        <form id="loginForm" class="ink-form ink-formvalidator" method="post" action="/login">
          <div class="control-group required">
              <label for="e-mail">Email</label>
              <div class="control">
                  <input type="email" name="email" id="email" data-rules="required|email" />
              </div>
          </div>
          <div class="control-group required">
              <label for="pass">Password</label>
              <div class="control">
                  <input type="password" name="password" id="password" data-rules="required" />
              </div>
          </div>
          <input type="submit" name="sub" value="Submit" id="loginSub" class="ink-button success" />
        </form>
      </div>
    </div>
</div>
<div class="ink-shade fade">
    <div id="signupModal" class="ink-modal fade" data-trigger=".signup" data-width="80%" data-height="80%" role="dialog" aria-hidden="true" aria-labelled-by="signup-title">
      <div class="modal-header">
          <button class="modal-close ink-dismiss"></button>
          <h2 id="login-title">Sign Up</h2>
      </div>
      <div class="modal-body" id="signupContent">
        <form id="signupForm" class="ink-form ink-formvalidator" method="post" action="/signup">
          <div class="column-group gutters">
              <div class="control-group required all-50">
                  <label for="fname">First Name</label>
                  <div class="control">
                      <input type="text" name="firstName" id="fname" data-rules="required|alpha_dash" />
                  </div>
              </div>
              <div class="control-group required all-50">
                  <label for="lname">Last Name</label>
                  <div class="control">
                      <input type="text" name="lastName" id="lname" data-rules="required|alpha_dash" />
                  </div>
              </div>
          </div>
          <div class="column-group gutters">
            <div class="control-group required all-50">
                <label for="e-mail">Email</label>
                <div class="control">
                    <input type="text" name="email" id="email" data-rules="required|email" />
                </div>
            </div>
            <div class="control-group all-50">
                <label for="phone">Phone</label>
                <div class="control">
                    <input type="text" name="phoneNumber" id="phone" data-rules="min_length[10]|max_length[11]" />
                </div>
            </div>
          </div>
          <div class="control-group" style="margin-bottom: 0;">
            <p class="label">Would you like to be put on the ACM list serve?</p>
            <ul class="control unstyled">
                <li><input type="radio" id="LSYes" name="listServe" value="true"><label for="rb1">Yes</label></li>
                <li><input type="radio" id="LSNo" name="listServe" value="false"><label for="rb2">No</label></li>
                <li><input type="radio" id="LSAlreadyOnIt" name="listServe" value="true"><label for="rb3">Already on it!</label></li>
            </ul>
          </div>
          <div class="column-group gutters">
            <div class="control-group required all-50">
                <label for="pass">Password</label>
                <div class="control">
                    <input type="password" name="password" id="pass" data-rules="required|min_length[8]" />
                </div>
            </div>
            <div class="control-group required all-50">
                <label for="confpass">Confirm Password:</label>
                <div class="control">
                    <input type="password" name="password confirmation" id="confpass" data-rules="required|matches[password]" data-label="password confirmation" />
                </div>
            </div>
          </div>
          <input type="submit" name="sub" value="Submit" class="ink-button success" />
        </form>
      </div>
    </div>
</div>
<nav class="ink-navigation ink-sticky">
    <ul class="menu horizontal blue">
      <li class="push-left hide-all show-tiny show-small show-medium">
        <button class="fa fa-bars left-drawer-trigger"></button>
      </li>
      <div class="push-left hide-small hide-tiny hide-medium">
        <li><a href="/">Home</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/contactus">Contact Us</a></li>
        <li><a href="/contact">Our Staff</a></li>
        <li><a>SIGs <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="submenu">
            <li><a href="/ufpt">UFPT</a></li>
            <li><a href="http://ufsec.com/" target="_blank">SEC</a></li>
            <li><a href="https://www.facebook.com/groups/1499711090349840/" target="_blank">UF Hackathoners</a></li>
            <li><a href="https://www.facebook.com/groups/1695957843991327/" target="_blank">First Time Programmers</a></li>
            <li><a href="https://www.facebook.com/groups/UFAIClub/" target="_blank">AI Club</a></li>
            <li><a href="https://www.facebook.com/groups/1050011381726686/" target="_blank">GatorVR</a></li>
            <li><a href="http://ufsit.org/" target="_blank">UFSIT</a></li>
            <li><a href="https://www.facebook.com/groups/ufdas/" target="_blank">UF DAS</a></li>
            <li><a href="https://www.facebook.com/groups/1831203810447278/" target="_blank">UF Financial Technology Group</a></li>
            <li><a href="https://www.facebook.com/groups/162833737423706/" target="_blank">UF Open Source Club </a></li>
        </ul>
        </li>
        <li><a href="https://www.facebook.com/ufacm/" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i><span class="sr-only">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/uf.acm/" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i><span class="sr-only">Instagram</span></a></li>
      </div>
      <div class="push-right hide-small hide-tiny hide-medium">
        <% if (typeof user == 'undefined') { %>
        <li><a class="login">Log In</a></li>
        <li><a class="signup">Sign Up</a></li>
        <% } %>
        <% if (typeof user !== 'undefined') { %>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Log Out</a></li>
        <% } %>
      </div>
    </ul>
</nav>
