<ul id="dropdownMobile" class="dropdown-content">
  <li><a href="/ufpt">UFPT</a></li>
  <li><a href="http://ufsec.com/">SEC</a></li>
  <li><a href="https://www.facebook.com/groups/1499711090349840/">UF Hackathoners</a></li>
  <li><a href="https://www.facebook.com/groups/1695957843991327/">First Time Programmers</a></li>
  <li><a href="https://www.facebook.com/groups/UFAIClub/">AI Club</a></li>
  <li><a href="https://www.facebook.com/groups/1050011381726686/">GatorVR</a></li>
</ul>
<ul id="dropdownMain" class="dropdown-content">
  <li><a href="/ufpt">UFPT</a></li>
  <li><a href="http://ufsec.com/">SEC</a></li>
  <li><a href="https://www.facebook.com/groups/1499711090349840/">UF Hackathoners</a></li>
  <li><a href="https://www.facebook.com/groups/1695957843991327/">First Time Programmers</a></li>
  <li><a href="https://www.facebook.com/groups/UFAIClub/">AI Club</a></li>
  <li><a href="https://www.facebook.com/groups/1050011381726686/">GatorVR</a></li>
</ul>
    <nav class="white-text transparent z-depth-0">
        <div class="nav-wrapper  white-text z-index:3;">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/contact">Our Staff</a></li>
                <% if (typeof user == 'undefined') { %>
                <li><a href="/login">Log In</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <% } %>
                <% if (typeof user !== 'undefined') { %>
                  <li><a href="/profile">Profile</a></li>
                  <li><a href="/logout">Log Out</a></li>
                <% } %>
                <li><a class="dropdown-button" style="padding-left: 30px" href="#" data-activates="dropdownMain">SIGS<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul id="slide-out" class="side-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/contactus">Contact Us</a></li>
              <li><a href="/contact">Our Staff</a></li>
              <% if (typeof user == 'undefined') { %>
              <li><a href="/login">Log In</a></li>
              <li><a href="/signup">Sign Up</a></li>
              <% } %>
              <% if (typeof user !== 'undefined') { %>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/code">Code Tutorial</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Log Out</a></li>
              <% } %>
              <li><a class="dropdown-button" href="#" data-activates="dropdownMobile">SIGS<i class="material-icons right">arrow_drop_down</i></a></li>

            </ul>
        </div>
    </nav>
