
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="icon " type = "image/x-icon" href="img/icon.png"/>
    <title>SIGS</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,100italic' rel='stylesheet' type='text/css'>
    <!-- Script for nav -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/bin/materialize.js"></script>

    </head>

  <body>


  <div class="collection">
    <a href="/ufpt" class="collection-item">UFPT</a>
    <a href="http://ufsec.com/" class="collection-item">SEC</a>
    <a href="https://www.facebook.com/groups/1499711090349840/" class="collection-item">UF Hackathoners</a>
    <a href="https://www.facebook.com/groups/1695957843991327/" class="collection-item">FTP</a>
    <a href="https://www.facebook.com/groups/UFAIClub/" class="collection-item">AI Club</a>
    <a href="https://www.facebook.com/groups/1050011381726686/" class="collection-item">Gator VR</a>
    <a href="http://ufsit.org/" class="collection-item">UFSIT</a>
  </div>


 </body>
</html>
