
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>Code Terminal</title>
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <!-- Bootstrap Core CSS -->
    <link href="../code_tuts/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom Theme CSS -->
    <link href="../code_tuts/code.css" rel="stylesheet">

    <!--basic codemirror-->
    <link rel="stylesheet" href="https://codemirror.net/lib/codemirror.css">
    <script src="https://codemirror.net/lib/codemirror.js"></script>
    <link href="../code_tuts/lesser-dark.css" rel="stylesheet">



    <!--codemirror addons-->
    <script src="https://codemirror.net/addon/edit/matchbrackets.js"></script>  
    <script src="https://codemirror.net/addon/edit/closebrackets.js"></script>
    <script src="https://codemirror.net/addon/selection/active-line.js"></script>

    <!--modes-->
    <script src="https://codemirror.net/mode/xml/xml.js"></script>
    <script src="https://codemirror.net/mode/htmlmixed/htmlmixed.js"></script>
    <script src="https://codemirror.net/mode/javascript/javascript.js"></script>
    <script src="https://codemirror.net/mode/css/css.js"></script>
    

    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>


    <!--Custom js-->
    <script type="text/javascript" src="../code_tuts/code.js"></script>

    <!--animate.css-->
    <link href="../code_tuts/animate.css" rel="stylesheet" type="text/css">

</head>
<body>


		<nav class="navbar navbar-default top" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		     <div class="lesson">Welcome to the first lesson. Over the course of this class, you will learn the basics of HTML, CSS, and JavaScript. Use the text editor below to edit the code while the screen on the right while give live formatting. Press Submit to go on.</div>
		      </div>
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="row">
		  <div class="col-md-6">
		  	<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist" id="menu">
			  <li class="active"><a href="#home" role="tab" data-toggle="tab" id="html" class="ta">HTML</a></li>
			  <li><a href="#profile" role="tab" data-toggle="tab" class="ta" id="css">CSS</a></li>
			  <li><a href="#messages" role="tab" data-toggle="tab" class="ta" id="js">JavaScript</a></li>
          <button class="btn btn-primary submit" onclick="lol()">Submit</button>
        <a href="/logout" class="btn btn-danger logout">Logout</a>
			</ul>



      <!--<button type="button">button</buttom>-->

			<!--<form action="yolo" method="post">
				<button type="submit">Yolo</button>
			</form>-->



			<!--<a href="#" class="btn btn-default btn-success"><span class="glyphicon glyphicon-arrow-right"></span> Logout</a>-->

			<!-- Tab panes -->
			<div class="tab-content">

			  <div class="tab-pane active" id="home">
				<textarea id="htmlyo" >
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
  
  </body>
</html>

        

				</textarea>
			  </div>


			  <div class="tab-pane" id="profile">
				<textarea id="cssyo">

        
				</textarea>
			  </div>


			  <div class="tab-pane" id="messages">
				<textarea id="jsyo">


</textarea>

			</div>


			</div>

		  </div>







		  <div class="col-md-6">

		  	<iframe></iframe>
		  </div>
		</div>




    
    <script src="../code_tuts/bootstrap.min.js"></script>
</body>

</html>