/*everypage*/
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.parallax-container {
      height: 200px;
    }

main {
	flex: 1 0 auto;
}

/*homepage*/

.header{
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size:12vw;
}

.ui-helper-hidden-accessible { display:none; }

/*new page*/

/*navbar*/
.nav-up{
	top: -48px !important;
}
.nav-down{
	top: 0 !important;
}
nav{
	-webkit-transition: top .5s; /* Safari */
	transition: top .5s;
	font-weight: 500;
}
.ink-sticky-wrapper{
	background-color: #20acdb;
}
.ink-navigation ul.menu.blue {
	background-color: #20acdb;
}
button.fa-bars{
	background: 0 0;
	font-size: 1.2em;
	color: #fff;
	border: 0;
	padding: .8em .8em .8em .8em;
	float: left;
}

/*homepage*/
.intro{
	background: #67daef; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #67daef 0%, #059bd3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #67daef 0%,#059bd3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #67daef 0%,#059bd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67daef', endColorstr='#059bd3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	width: auto;
}
.ink-button{
	font-weight: 400;
	border-radius: 50px;
}
.logo-caption{
	color: #fff;
	font-size: 1.5em;
}
.parallax-window {
	min-height: 350px;
	width: 100%;
	background: transparent;
}
.who-what, .where, .sponsors{
	margin-top: 25px;
	margin-bottom: 25px;
}
