<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Contact Us | UF ACM</title>
  <link rel="icon " type="image/x-icon" href="../img/icon.png" />
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,100italic' rel='stylesheet' type='text/css'>
  <!-- Script for nav -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="../js/bin/materialize.js"></script>
  <script>
    $(document).ready(function() {
      $('.parallax').parallax();
      $('select').material_select();
      $(".button-collapse").sideNav();
      $(".dropdown-button").dropdown();

    });
  </script>
</head>

<!-- navbar include directive  -->
<% include ../navBar %>


  <div style="height:30%;  background-image: url('../img/0036.jpg'); position:relative; top:-75px; z-index:-1;">
    <h1 class="header white-text">Contact Us</h1>
  </div>

  <body>
    <div class="container">
      <p>Whether you want to say hello, or say something anonymous, this is the place to do it!</p>
      <form action="https://docs.google.com/forms/d/1PuhgUvoKhX0cE7zZXOqhvlBgvcLUABJvL2HD2hC8aMU/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
        <div class="row">
          <div class="input-field col s12">
            <!-- BEGIN NAME AREA -->
            <input id="name" type="text" name="entry.2032994772" value="" class="" id="entry_2032994772" dir="auto" aria-label="Name   " title="">
            <!-- END NAME AREA -->
            <label for="name">Name</label>
          </div>
        </div>


        <input type="hidden" name="entry.745377791" jsname="L9xHkb">


        <div class="row">
          <div class="input-field col s12">
            <!-- BEGIN EMAIL AREA -->
            <input id = "email" type="text" name="entry.1000390609" value="" class="" id="entry_1000390609" dir="auto" aria-label="Email  " title="">
            <!--END EMAIL AREA   -->
            <label for="email">Email</label>
          </div>
        </div>

        <input type="hidden" name="entry.191859315" jsname="L9xHkb">


        <div class="row">
          <div class="input-field col s12">
            <!-- BEGIN TEXT AREA -->
            <textarea id="textbox" class="materialize-textarea" name="entry.42158866" rows="8" cols="0" class="" id="entry_42158866" dir="auto" aria-label="Message  "></textarea>
            <!-- END TEXT AREA -->
            <label for="textbox">How can we help you today?</label>
          </div>
        </div>


        <input type="hidden" name="entry.1158378443" jsname="L9xHkb">

        <p>Never submit passwords through Forms.</p>
        <button class="waves-effect waves-light btn teal lighten-1" id="buts" type="submit">submit</button>

      </div>
    <input type="hidden" name="fvv" value="1">
    <input type="hidden" name="draftResponse" value="[,,&quot;-1746276146635648531&quot;] ">
    <input type="hidden" name="pageHistory" value="0">
    <input type="hidden" name="fbzx" value="-1746276146635648531"> </div>
    </form>
    </div>
  </body>

</html>
