<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>UF Programming Team - Online High School Programming Contest</title>

  <!-- Bootstrap Core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/one-page-wonder.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <% include navBar %>
  <div class="container">
    <div class="row">
    <h1>Frequently Asked Questions</h1>
  </div>
  <div clas="row">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            What is the University of Florida Online High School Programming Contest?</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">OHSPC is an online programming competition for high school students created by the University of Florida's competitive programming team.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            When will OHSPC take place?</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">The competition will last two hours, and it will take place on Saturday, March 25th from 2-4PM.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Is OHSPC a team competition or an individual competition?</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">Individual competition. Contestants should not discuss competition problems with anyone other than the judges during the contest.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
            Who is eligible to compete in OHSPC?</a>
          </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
          <div class="panel-body">All high school students under the age of 19 (public, private, and homeschooled) who attend school in the United States are eligible to participate in the contest. Younger students with experience are free to participate as well.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            Is there any cost for competing?</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">There is no cost for competing in OHSPC.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
            How can I register?</a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body">You can register by filling out <a href="http://ufacm.xyz/hspc/register">this form</a>. You should provide a teacher's email during registration. Approximately 1 week before the competition, we will send a link to your teacher so that they can verify your registration. After you have been verified, we will send you an email with the contest link and your login credentials.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
            When is the last day to register?</a>
          </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse">
          <div class="panel-body">The registration deadline is one week before the contest, Saturday, March 18th.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
            What is the format of the contest?</a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
          <div class="panel-body">We will be loosely following the ACM/ICPC contest format. At the time of the competition, we will make the contest problems available to everyone competing. Participants will then need to write programs that read in input for a number of test cases and output the correct solutions. Particapants must upload their source code to be run and tested for correctness on our servers.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
            Which programming languages will I be able to use?</a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
          <div class="panel-body">We will be supporting recent versions of C++, Java, and Python.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
            How will contestants need to read input into their programs? What about outputting their results?</a>
          </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
          <div class="panel-body">For this contest, students will need to read input from standard input (stdin) and output their answers to standard output (stdout). In Java, this means you will be reading data via System.in and ouputing data via methods of System.out (e.g. calling System.out.println()). Essentially, inputting and outputing results will be the same as with any other program that reads user input and ouputs results via a terminal or IDE console.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
            Are there any problems from previous years available?</a>
          </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
          <div class="panel-body">You can find problems from the past 4 years of UF's high school programming contest at <a href="http://ufacm.xyz/ufpt/files/hspc">http://ufacm.xyz/ufpt/files/hspc</a>. Please note that this year's competition is 2 hours. The contests we have hosted in-person previously have been 5 hours, which is the typical duration of ACM/ICPC and IOI contests.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
            Are there any prizes involved?</a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body">Yes, we will announce prizes approximately 2 weeks before the competition.</div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% include footer %>
</body>
</html>
