<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>UF Programming Team - Online Highschool Programming Contest</title>

  <!-- Bootstrap Core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/one-page-wonder.css" rel="stylesheet">

	<link href="css/style.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <% include navBar %>
  <!-- Full Width Image Header -->
  <header class="header-image">
      <div class="headline">
          <div class="container">
      			<h1>OHSPC 2017</h1>
      			<h2>March 25th, 2-4 PM<h2>
          </div>
      </div>
  </header>
	<div class="container">
    <div class="info-container">
  		<div class="infobox">
  		  <h2>About UF OHSPC</h2>
  		  <hr>
  		  <p>OHSPC is the University of Florida's <i>Online High School Programming Contest</i>. Contest participants solve as many programming problems as they can within a 2-hour window, while still maintaining accuracy.</p>
  		  <p><a class="btn btn-secondary" href="faq" role="button">View FAQ »</a></p>
  		</div>
  		<div class="infobox">
  		  <h2>Eligibility</h2>
  		  <hr>
  		  <p>All high school students under the age of 19 who attend school in the State of Florida are eligable to participate in the contest. Younger students with experience are free to participate as well.</p>
  		  <p><a class="btn btn-secondary" href="faq" role="button">View FAQ »</a></p>
  	   </div>
  		<div class="infobox">
  		  <h2>Registration</h2>
  		  <hr>
  		  <p>Interested students should provide a teacher's email address during registration. Afterwards, teachers will be sent information on how to complete the registration process for their students.</p>
  		  <p><a class="btn btn-secondary" href="register" role="button">Register »</a></p>
  		</div>
    </div>
	</div>
  <% include footer %>
</body>

</html>
